@font-face {
  font-family: "Norse Bold";
  src: url(font/Norse-Bold.otf);
}

:root {
  --text-color-light-primary: #fbfbfb;
  --text-color-light-secondary: #dadada;

  --text-color-dark: #4e4e4e;

  --accent-color: #596d48;

  --background-color: #f8f8f8;

  --input-border-color: #e5e7eb;
  --input-border-focus-color: blue;
  --input-border-error-color: red;

  --input-focus-shadow: 0, 0, 0, 0, rgb(0, 0, 0, 0.5);

  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;

  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;

  display: flex;
}

ul {
  list-style: none;
}

/* Hero Section */

.hero {
  flex: 1 0 auto;

  width: 30vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20rem 0 1rem 0;

  background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: border-box;
  background-clip: border-box;
}

.logo {
  background-color: rgb(0, 0, 0, 0.5);

  align-self: stretch;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.5rem 0;
}

.logo-icon {
  height: 11rem;
  width: 8rem;

  background-image: url(img/odin-lined.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: border-box;
  background-clip: border-box;
}

.logo-text {
  color: var(--text-color-light-primary);
  font-family: "Norse Bold", sans-serif;
  font-size: 8rem;
}

.footer,
.footer a:link,
.footer a:visited {
  color: var(--text-color-light-secondary);
  font-size: 1.3rem;
}

/* Main Section */

.main {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
}

main > * {
  flex: 1 1 auto;
}

.description p {
  font-size: 2.2rem;
  font-weight: bold;
}
